# 빌드 파일
/build/
/bin/
/obj/
/Debug/
/Release/

# Visual Studio 관련
.vs/
.vscode/
*.user
*.suo
*.ncb
*.opensdf
*.sdf
*.tlog
*.ipch/
*.log
*.ilk
*.pdb
*.idb
*.opendb
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# Windows 관련
Thumbs.db
desktop.ini
*.exe
*.dll
*.lib
*.tmp

# MacOS 관련
.DS_Store

# CLion 관련
.idea/
cmake-build-*/

# CMake 관련
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
/CMakeScripts/
Makefile
cmake_install.cmake
*.cmake

# 기타 자동 생성 파일
*.obj
*.o
*.log
*.d

# 실행 파일
*.exe
*.out
*.app
*.ipa

# 스왑 파일 및 임시 파일
*~
*.swp
*.tmp
*.bak
*.old

